body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

/* LOGIN */
.login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background: white;
    padding: 30px;
    width: 300px;
    border-radius: 10px;
    text-align: center;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

.login-box button {
    width: 100%;
    padding: 10px;
    background: #111;
    color: white;
    border: none;
    cursor: pointer;
}

/* HEADER */
header {
    background: #111;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.logout {
    background: red;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

/* PRODUK */
.produk-container {
    display: flex;
    gap: 20px;
    padding: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.produk {
    background: white;
    width: 250px;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
}

.produk img {
    width: 100%;
    border-radius: 10px;
}

.produk button {
    background: #e91e63;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}
